* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow', sans-serif;
}

body {
	background-color: white;
}

.background {
	z-index: -2;
}

#bg-image {
	position: absolute;
	right: 0;
	height: 100vh;
}


.content {
	display: flex;
	width: 100vw;
	/* grid-template-columns: 25.5vw 67.7vw; */
	/* grid-template-rows: 8vh 57.5vh 7vh; */
	/* grid-row-gap: 4.4vh; */
	justify-content: center;
}


.main {
	position: relative;
	grid-column-start: 2;
}

.sort {
	border-radius: 20px;
	text-align: center;
	top: 20vh;
	width: 90vw;
	height: 7vh;
	background-color: rgba(255,255,255,0.5);
	line-height: 7vh;
	position: sticky;
	top: 2vh;
}


.store {
	display: flex;
	flex-wrap: wrap;
	width: 90vw;
	justify-content: space-around;
}

.product {
	margin-top: 5vh;
	display: inline-flex;
	flex-wrap: wrap;
	/* margin: 0px 3.75vw 7.4vh 0px; */
	/* background-color: #252526; */
	/* border-radius: 1.3vh; */
	background-image: linear-gradient(180deg, transparent 30%, #ffffff);
	width: 40vw;
	height: 60vw;
	/* box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2); */
	/* padding: 10px; */
}

.img-container {
	height: 40vw;
	width: 40vw;
	/* border-radius: 1.3vh 1.3vh 0px 0px; */
	/* background-color: #252528; */
}

.page {
	margin-top: 8vw;
	width: 90vw;
	height: 7vh;
	display: flex;
	justify-content: space-around;
}

.footer {
	width: 90vw;
	height: 7vh;
	display: flex;
	justify-content: center;
}

.page a {
	font-size: 3vw;
}

li {
	display: inline;
	margin-left: 3vw;
	margin-right: 3vw;
}

a {
	font-size: 3vw;
	color: #252526;
	text-decoration: none;
}

ul {
	display: flex;
	justify-content: center;
}

.navbar {
	padding: 5.3vh 0px 7vh 0px;
}

img.product-img {
	width: 40vw;
	height: 40vw;
	object-fit: cover;
}


.text-container {
	text-align: center;
	width: 40vw;
}

.text-container h3 {
	font-weight: 400;
	color: #252526;
	font-size: 4vw;
}

.text-container p {
	font-size: 4vw;
	margin-top: 1vh;
	color: #cc0000;
	font-weight: 700;
}

#myCanvas {
	position: absolute;
	top: 0;
	left: 0;
	background: #eeeeee;
	z-index: -1;
}