// Colors

$primary: hsl(0, 100%, 68%);
$darkBlue: hsl(230, 29%, 20%);
$grayBlue: hsl(230, 11%, 40%);
$lightGrayBlue: hsl(207, 33%, 95%);

// 
$fontSize: 18px;
$fontHead: 'Barlow Condensed', sans-serif;
$fontBody: 'Barlow', sans-serif;
