@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

#quote-box {
    border-radius: 5px;
    background-color: white;
    color: #333;
    padding: 10px 20px 50px 20px;
    width: 360px;
    .quote-text {
        font-weight: 500;
        font-size: 16px;
    }
    .quote-author {
        margin-top: 5px;
        text-align: right;
        font-weight: 400;
    }
    #tweet-quote {
        float: left;
        &:hover {
            opacity: 0.9;
        }
    }
    #new-quote {
        float: right;
    }
    .buttons {
        margin-top: 10px;
        .button {
            border: none;
            border-radius: 2px;
            padding: 10px;
            background-color: #333;
            color: white;
        }
    }
}

#wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}